body {
  margin: 0;
  background: #7c7a77;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  margin: 0;
  padding: 0;
}

/* ---------------header.css------------------------ */
@import url("./components/header/header.css");

/* -----------------movies.css--------------------- */
@import url("./components/mainpages/movies.css");

/* -------------------moviedetail.css------------ */
@import url("./components/mainpages/moviedetail.css");

/* -------------------loading.css---------------- */
@import url("./components/mainpages/loading.css");